In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# loading the csv data to a Pandas DataFrame
pcod_data = pd.read_csv('/content/Book1A.csv')

In [ ]:
pcod_data.head()

,PCOS (Y/N),Age (yrs),Weight (Kg),Height(Cm),BMI,Blood Group,Pulse rate(bpm),RR (breaths/min),Hb(g/dl),Cycle(R/I),...,Pimples(Y/N),Fast food (Y/N),Reg.Exercise(Y/N),BP _Systolic (mmHg),BP _Diastolic (mmHg),Follicle No. (L),Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm)
0,0,28,44.6,152.0,19.30,15,78,22,10.48,0,...,0,1,0,110,80,3,3,18.0,18.0,8.5
1,0,36,65.0,161.5,24.92,15,74,20,11.70,0,...,0,0,0,120,70,3,5,15.0,14.0,3.7
2,1,33,68.8,165.0,25.27,11,72,18,11.80,0,...,1,1,0,120,80,13,15,18.0,20.0,10.0
3,0,37,65.0,148.0,29.67,13,72,20,12.00,0,...,0,0,0,120,70,2,2,15.0,14.0,7.5
4,0,25,52.0,161.0,20.06,11,72,18,10.00,0,...,0,0,0,120,80,3,4,16.0,14.0,7.0

In [ ]:
pcod_data.tail()

,PCOS (Y/N),Age (yrs),Weight (Kg),Height(Cm),BMI,Blood Group,Pulse rate(bpm),RR (breaths/min),Hb(g/dl),Cycle(R/I),...,Pimples(Y/N),Fast food (Y/N),Reg.Exercise(Y/N),BP _Systolic (mmHg),BP _Diastolic (mmHg),Follicle No. (L),Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm)
533,0,35,50.0,164.592,18.46,17,72,16,11.0,0,...,0,0,0,110,70,1,0,17.5,10.0,6.7
534,0,30,63.2,158.000,25.32,15,72,18,10.8,0,...,0,0,0,110,70,9,7,19.0,18.0,8.2
535,0,36,54.0,152.000,23.37,13,74,20,10.8,0,...,0,0,0,110,80,1,0,18.0,9.0,7.3
536,0,27,50.0,150.000,22.22,15,74,20,12.0,1,...,1,0,0,110,70,7,6,18.0,16.0,11.5
537,1,23,82.0,165.000,30.12,13,80,20,10.2,1,...,1,1,0,120,70,9,10,19.0,18.0,6.9

In [ ]:
# number of rows and columns in the dataset
pcod_data.shape

(538, 42)

In [ ]:
# getting some info about the data
pcod_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 538 entries, 0 to 537
Data columns (total 42 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PCOS (Y/N)             538 non-null    int64
 1   Age (yrs)              538 non-null    int64
 2   Weight (Kg)            538 non-null    float64
 3   Height(Cm)             538 non-null    float64
 4   BMI                    538 non-null    float64
 5   Blood Group            538 non-null    int64
 6   Pulse rate(bpm)        538 non-null    int64
 7   RR (breaths/min)       538 non-null    int64
 8   Hb(g/dl)               538 non-null    float64
 9   Cycle(R/I)             538 non-null    int64
 10  Cycle length(days)     538 non-null    int64
 11  Marraige Status (Yrs)  538 non-null    float64
 12  Pregnant(Y/N)          538 non-null    int64
 13  No. of aborptions      538 non-null    int64
 14  I beta-HCG(mIU/mL)     538 non-null    float64
 15  II beta-HCG(mIU/mL)    538 non-null    float64
 16  FSH(mIU/mL)            538 non-null    float64
 17  LH(mIU/mL)             538 non-null    float64
 18  FSH/LH                 538 non-null    float64
 19  Hip(inch)              538 non-null    int64
 20  Waist(inch)            538 non-null    int64
 21  Waist:Hip Ratio        538 non-null    float64
 22  TSH (mIU/L)            538 non-null    float64
 23  AMH(ng/mL)             538 non-null    float64
 24  PRL(ng/mL)             538 non-null    float64
 25  Vit D3 (ng/mL)         538 non-null    float64
 26  PRG(ng/mL)             538 non-null    float64
 27  RBS(mg/dl)             538 non-null    float64
 28  Weight gain(Y/N)       538 non-null    int64
 29  hair growth(Y/N)       538 non-null    int64
 30  Skin darkening (Y/N)   538 non-null    int64
 31  Hair loss(Y/N)         538 non-null    int64
 32  Pimples(Y/N)           538 non-null    int64
 33  Fast food (Y/N)        538 non-null    int64
 34  Reg.Exercise(Y/N)      538 non-null    int64
 35  BP _Systolic (mmHg)    538 non-null    int64
 36  BP _Diastolic (mmHg)   538 non-null    int64
 37  Follicle No. (L)       538 non-null    int64
 38  Follicle No. (R)       538 non-null    int64
 39  Avg. F size (L) (mm)   538 non-null    float64
 40  Avg. F size (R) (mm)   538 non-null    float64
 41  Endometrium (mm)       538 non-null    float64
dtypes: float64(20), int64(22)
memory usage: 176.7 KB

In [ ]:
# checking for missing values
pcod_data.isnull().sum()

PCOS (Y/N)               0
Age (yrs)                0
Weight (Kg)              0
Height(Cm)               0
BMI                      0
Blood Group              0
Pulse rate(bpm)          0
RR (breaths/min)         0
Hb(g/dl)                 0
Cycle(R/I)               0
Cycle length(days)       0
Marraige Status (Yrs)    0
Pregnant(Y/N)            0
No. of aborptions        0
I beta-HCG(mIU/mL)       0
II beta-HCG(mIU/mL)      0
FSH(mIU/mL)              0
LH(mIU/mL)               0
FSH/LH                   0
Hip(inch)                0
Waist(inch)              0
Waist:Hip Ratio          0
TSH (mIU/L)              0
AMH(ng/mL)               0
PRL(ng/mL)               0
Vit D3 (ng/mL)           0
PRG(ng/mL)               0
RBS(mg/dl)               0
Weight gain(Y/N)         0
hair growth(Y/N)         0
Skin darkening (Y/N)     0
Hair loss(Y/N)           0
Pimples(Y/N)             0
Fast food (Y/N)          0
Reg.Exercise(Y/N)        0
BP _Systolic (mmHg)      0
BP _Diastolic (mmHg)     0
Follicle No. (L)         0
Follicle No. (R)         0
Avg. F size (L) (mm)     0
Avg. F size (R) (mm)     0
Endometrium (mm)         0
dtype: int64

In [ ]:
# checking the distribution of Target Variable
pcod_data['PCOS (Y/N)'].value_counts()

0    362
1    176
Name: PCOS (Y/N), dtype: int64

In [ ]:
X = pcod_data.drop(columns='PCOS (Y/N)', axis=1)
Y = pcod_data['PCOS (Y/N)']

In [ ]:
print(X)

     Age (yrs)  Weight (Kg)  Height(Cm)    BMI  Blood Group  Pulse rate(bpm)  \
0           28         44.6     152.000  19.30           15               78
1           36         65.0     161.500  24.92           15               74
2           33         68.8     165.000  25.27           11               72
3           37         65.0     148.000  29.67           13               72
4           25         52.0     161.000  20.06           11               72
..         ...          ...         ...    ...          ...              ...
533         35         50.0     164.592  18.46           17               72
534         30         63.2     158.000  25.32           15               72
535         36         54.0     152.000  23.37           13               74
536         27         50.0     150.000  22.22           15               74
537         23         82.0     165.000  30.12           13               80

     RR (breaths/min)  Hb(g/dl)  Cycle(R/I)  Cycle length(days)  ...  \
0                  22     10.48           0                   5  ...
1                  20     11.70           0                   5  ...
2                  18     11.80           0                   5  ...
3                  20     12.00           0                   5  ...
4                  18     10.00           0                   5  ...
..                ...       ...         ...                 ...  ...
533                16     11.00           0                   5  ...
534                18     10.80           0                   5  ...
535                20     10.80           0                   6  ...
536                20     12.00           1                   2  ...
537                20     10.20           1                   7  ...

     Pimples(Y/N)  Fast food (Y/N)  Reg.Exercise(Y/N)  BP _Systolic (mmHg)  \
0               0                1                  0                  110
1               0                0                  0                  120
2               1                1                  0                  120
3               0                0                  0                  120
4               0                0                  0                  120
..            ...              ...                ...                  ...
533             0                0                  0                  110
534             0                0                  0                  110
535             0                0                  0                  110
536             1                0                  0                  110
537             1                1                  0                  120

     BP _Diastolic (mmHg)  Follicle No. (L)  Follicle No. (R)  \
0                      80                 3                 3
1                      70                 3                 5
2                      80                13                15
3                      70                 2                 2
4                      80                 3                 4
..                    ...               ...               ...
533                    70                 1                 0
534                    70                 9                 7
535                    80                 1                 0
536                    70                 7                 6
537                    70                 9                10

     Avg. F size (L) (mm)  Avg. F size (R) (mm)  Endometrium (mm)
0                    18.0                  18.0               8.5
1                    15.0                  14.0               3.7
2                    18.0                  20.0              10.0
3                    15.0                  14.0               7.5
4                    16.0                  14.0               7.0
..                    ...                   ...               ...
533                  17.5                  10.0               6.7
534                  19.0                  18.0               8.2
535                  18.0                   9.0               7.3
536                  18.0                  16.0              11.5
537                  19.0                  18.0               6.9

[538 rows x 41 columns]

In [ ]:
print(Y)

0      0
1      0
2      1
3      0
4      0
      ..
533    0
534    0
535    0
536    0
537    1
Name: PCOS (Y/N), Length: 538, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(538, 41) (430, 41) (108, 41)

In [ ]:
model = LogisticRegression()

In [ ]:
# training the LogisticRegression model with Training data
model.fit(X_train, Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.8558139534883721

In [ ]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.8888888888888888

In [ ]:
input_data = (28,44.6,152,19.3,15,78,22,10.48,0,5,7,0,1,1.99,1.99,7.95,3.68,2.16,36,37,0.83,0.68,2.07,45.16,17.1,0.56,92,0,1,1,0,0,1,0,110,80,3,3,18,18,8.5)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]== 0):
  print('The Person does not have a PCOD')
else:
  print('The Person has PCOD')

[0]
The Person does not have a PCOD

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(